body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", sans-serif;
    font-weight: normal;
    background-color: white;
    background-repeat: no-repeat;
}

body h1 {
    display: none;
}
a {
    color: white;
    text-decoration: none;
}
/* Стилизация верхней части хедера */
.header {
    height: 320px;
    background-color: #f4f7f9;
}
.header-top {
    color: white;
    height: 42px;
}

.header-top,
.search {
    background-color: #293449;
    color: white;
    font-size: 17px;
    line-height: 1.06;
    text-align: left;
    
}
.search-form {
    display: flex;
    width: 270px;
}
.icon-search {
    padding-top: 12px;
    padding-left: 17px;
    padding-right: 15px;
}
.search-field {
    display: flex;
    border: none;
    height: 42px;
    padding: 0;
}
.search {
    border: none;
    height: 42px;
    position: absolute;
    margin-left: 49px;
}
.search-icon {
    position: relative;
    margin-top: 12px;
    margin-left: 17px;
}
.bookmark {
    text-decoration: none;
    color: white;
    display: flex;
    margin-top: 12px;
    margin-left: 17px;
    margin-right: 46px;
}
.bookmark-quantity {
    padding-left: 13px;
}
.bookmark-catalog {
    display: flex;
    margin-top: 14px;
    margin-left: 13px;
    margin-right: 32px;
}
.cart {
    display: flex;
    padding-top: 12px;
    padding-right: 29px;

}
.cart-quantity {
    padding-left: 17px;
}
.cart-catalog {
    display: flex;
    background: #ee3643;
    width: 150px;
    height: 42px;
}
.cart-catalog-icon {
    padding-top: 14px;
    padding-left: 18px;
}
.cart-catalog-quantity {
    padding-top: 14px;
    padding-left: 17px;
}
.container {
    display: flex;
    margin: 0 auto;
    width: 940px;
    padding: 0;
}
.container1 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 940px;
    padding: 0;
    flex-wrap: wrap;
}
.header-logo {
    width: 220px;
    height: 42px;
    background-color: #EE3643;
    box-shadow:  0px 5px 0 0 rgba(170, 50, 46, 1);
}
.logo-header {
    padding-top: 12px;
    margin-left: 55px;
}
.header-logo:hover {
    background-color: #ca2c37;
}
.header-logo:focus {
    background-color: #ba2732;
}
.header-order-button {
    width: 150px;
    height: 42px;
    background-color: #63a63e;
    color: white;
}
.order {
    padding-top: 12px;
    padding-left: 20px;
}
.header-order-button p {
    margin-left: 22px;
}
.header-order-button:hover {
    background-color: #5fbb2d;
}
.header-order-button:focus {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}
.search:focus {
    background-color: white;
    color: black;
    font-size: 17px;
    line-height: 1.06;
    text-align: left;
}
/* Стилизация средней части хедера*/

.header-middle {
    background-color: #f4f7f9;
}
.header-description {
    color: #EE3643;
    font-size: 16px;
    line-height: 1.44;
    font-style: italic;
    text-align: left;
    padding-left: 52px;
    padding-top: 49px;
    padding-bottom: 44px;
    padding-right: 71px;
    margin: 0;
}
.description {
    margin: 0;
}
.header-phone {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 270px;
}
.header-phone-number {
    color: #EE3643;
    font-size: 21px;
    line-height: 1;
    text-align: left;
    display: flex;
    border: 3px solid white;
    height: 39px;
    margin-top: 46px;
}
.phone-icon {
    padding: 13px 40px 13px 15px;
}
.phone-number {
    margin: 0;
    padding-top: 13px;
}
.header-adress {
    color: #32425c;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}
.login {
    display: flex;
    width: 121px;
    height: 45px;
    background-color: white;
    margin-top: 46px;
    margin-left: 69px;
}
.login a {
    color: black;
    font-size: 21px;
    line-height: 1;
}
.login a:hover {
    color: #EE3643;
}
.login a:focus {
    color:rgba(0, 0, 0, 0.3);
}
.login-button {
    display: flex;
    padding-top: 14px;
}
.login-icon {
    margin-left: 14px;
    margin-right: 14px;
}
.register {
    display: flex;
    width: 150px;
    color: black;
    font-size: 21px;
    line-height: 1;
    height: 45px;
    background-color: white;
    margin-top: 46px;
    margin-left: 10px;
}
.register a:hover {
    color: #EE3643;
}
.register a:focus {
    color:rgba(0, 0, 0, 0.3);
}
.register a {
    color: black;
    font-size: 21px;
    line-height: 1;
}
.register-button {
    padding: 14px 25px 11px 25px;
}

.login-menu-catalog a {
    color: black;
    font-size: 21px;
    line-height: 1;
}
.login-user-catalog {
    display: flex;
    width: 286px;
    height: 32px;
    color: black;
    font-size: 21px;
    line-height: 1;
    background: white;
    padding-top: 13px;
    padding-left: 13px;
    margin-top: 46px;
    margin-left: 48px;
}
.login-user-icon {
    padding-right: 14px;
}
.logout-user-icon {
    margin-left: 37px;
}
.login-cabinet-links-catalog {
    display: flex;
    margin-top: 10px;
    margin-left: 68px;
}
.dot {
    width: 4px;
    height: 5px;
    background-color: #32425c;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 13px;
}
.login-order-catalog {
    font-size: 16px;
    line-height: 1.13;
    color: #32425c;
    text-decoration: underline;
}
.login-cabinet-catalog {
    font-size: 16px;
    line-height: 1.13;
    color: #32425c;
    text-decoration: underline;
}

/*Стилизация блока популярные продукты*/
.main-top {
    display: flex;
    margin: 0 auto;
    width: 940px;
    margin-top: 59px;
}
.main-blocks {
    display: flex;
    flex-wrap: wrap;
}
.material {
    display: flex;
    flex-direction: column;
    background-color: #ffbf47;
    color: white;
    width: 300px;
    height: 123px;
}
.material-header {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-top: 21px;
    margin-left: 23px;
}
.material-icon {
    position: absolute;
    margin-left: 213px;
    margin-top: 31px;

}
.material-link {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    width: 111px;
    height: 25px;
    display: block;
    padding-top: 12px;
    padding-left: 24px;
    margin-top: -15px;
    margin-left: 23px;
}
.popular-product-button {
    width: 253px;
    height: 38px;
    background-color: #ee3643;
    margin-top: 25px;
    margin-left: 373px;
}
.popular-product-item {
    margin-top: 14px;
    margin-left: 55px;
}
/*Стилизация навигационного меню*/
nav ul {
    padding: 0;
    margin: 0;
}
.header-nav {
    display: flex;
    list-style: none;
    background-color: #32425c;
    font-size: 17px;
    line-height: 1;
    font-weight: normal;
    text-align: left;
    height: 60px;
    padding: 0;
    margin: 0;
    width: 940px;
}
.header-nav a {
    color: white;
    font-size: 17px;;
}
.header-nav li {
    padding-top: 22px
}
.header-nav a:hover {
    background-color: #293449;
}
.header-nav a:focus {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}
.nav-items:first-child {
    padding-left: 52px;
}
.nav-items:nth-child(2) {
    padding-left: 65px;
}
.nav-items:nth-child(3) {
    padding-left: 60px;
}
.nav-items:nth-child(4) {
    padding-left: 60px;
}
.nav-items:nth-child(5) {
    padding-left: 59px;
}
.nav-items:nth-child(6) {
    padding-left: 62px;
}
.nav-items:nth-child(7) {
    padding-left: 64px;
    padding-right: 55px;
}
/*Стилизация блоков и слайдера*/

.main-blocks-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.instrument {
    display: flex;
    flex-direction: column;
    background-color: #3bbce3;
    color: white;
    width: 300px;
    height: 123px;
    margin-right: 20px;
    margin-left: 20px;
}

.instrument-header {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    margin-top: 23px;
    margin-left: 26px;
}
.instrument-icon {
    position: absolute;
    margin-left: 197px;
    margin-top: 31px;
}
.instrument-link {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    margin-top: 8px;
    margin-left: 25px;
    width: 111px;
    height: 28px;
    padding-top: 10px;
    padding-left: 24px;
}

.main-top-slider {
    position: absolute;
    width: 620px;
    height: 266px;
    margin-top: 143px;
}
.slider-top-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.slider-top-control {
    position: absolute;
    left: 50%;
    top: 232px;
}
.slider-top-item h4 {
    max-width: 620px;
    height: 30px;
    font-family: Cuprum, sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: normal;
    text-align: left;
    color: white;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    padding-top: 24px;
    padding-left: 27px;
}
.slider-top-item p {
    max-width: 620px;
    height: 17px;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: white;
    margin: 0;
    padding-top: 8px;
    padding-left: 25px;
}
.slider-top-item {
    height: 266px;
    display: none;
    background: no-repeat url("../img/slaider_back1.jpg") 0 0;
}
.slider-top-item:nth-child(1) {
    display: block;
}
.slider-top-button {
    position: relative;
    width: 156px;
    height: 26px;
    background: #ee3643;
    margin-top: 118px;
    margin-left: 25px;
    display: block;
    padding-top: 12px;
    padding-left: 39px;
    text-transform: uppercase;
}
.icon-left {
    position: absolute;
    margin-top: -140px;
    margin-left: 25px;
    display: block;
}
.icon-right {
    display: block;
    position: absolute;
    margin-left: 580px;
    margin-top: -140px;
}

.slider-top-control i {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.slider-top-control i::after {
    position: absolute;
    border-radius: 50%;
    content: "";
    width: 6px;
    height: 6px;
    top: 2px;
    left: 2px;
}
.slider-top-control .active::before {
    position: absolute;
    border-radius: 50%;
    content: "";
    width: 6px;
    height: 6px;
    top: 2px;
    left: 2px;
    background: #ee3643;
}
.main-right-blocks {
    display: flex;
    flex-direction: column;
}
.technic {
    display: flex;
    flex-direction: column;
    background-color: #dc91d8;
    color: white;
    width: 300px;
    height: 123px;
}
.technic-header {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    margin-top: 23px;
    margin-left: 26px;
}
.technic-icon {
    position: absolute;
    margin-left: 191px;
    margin-top: 31px;
}
.technic-link {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    margin-top: 8px;
    margin-left: 25px;
    width: 111px;
    height: 28px;
    padding-top: 10px;
    padding-left: 24px;
}
.sale {
    display: flex;
    flex-direction: column;
    background-color: #8ed78f;
    color: white;
    width: 300px;
    height: 123px;
    margin-top: 20px;

}
.sale-header {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    margin-top: 23px;
    margin-left: 26px;
}
.sale-icon {
    position: absolute;
    margin-left: 196px;
    margin-top: 26px;
}
.sale-link {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    margin-top: 8px;
    margin-left: 25px;
    width: 111px;
    height: 28px;
    padding-top: 10px;
    padding-left: 24px;
}
.delivery{
    display: flex;
    flex-direction: column;
    background-color: #ffc047;
    color: white;
    width: 300px;
    height: 123px;
    margin-top: 20px;
}
.delivery-header {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    margin-top: 23px;
    margin-left: 26px;
}
.delivery-icon {
    position: absolute;
    margin-left: 191px;
    margin-top: 32px;
}

.delivery-link {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    margin-top: 8px;
    margin-left: 25px;
    width: 111px;
    height: 28px;
    padding-top: 10px;
    padding-left: 24px;
}

/*Стилизация каталога популярных товаров*/
.popular-catalog {
    display: flex;
}

.popular-catalog-item {
    width: 220px;
    display: inline-block;
    position: relative;
    margin-right: 17px;
    margin-top: 20px;
    border: solid 1px #eaeaea;
}
.flag-catalog  {
    position: absolute;
    margin-left: 159px;
}
.popular-catalog-title {
    font-family: PTSans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.popular-catalog-item .popular-catalog-old-price {
    font-family: PTSans, sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: #a9a9a9;
    text-decoration: line-through;
}
.hidden-price {
    visibility: hidden;
}
.popular-catalog-item .popular-catalog-new-price {
    font-family: PTSans, sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: white;
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    background: #ee3643;
    border-radius: 3px;
}
.popular-catalog-item .popular-catalog-new-price:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 20px solid white;
    border-left-color: #ee3643;
  }
/*Стилизация блока описания компании*/
.main-description {
    color: black;
    text-align: left;
    margin-top: 84px;
}
.left-side-description {
    width: 519px;
    margin-right: 120px;
}
.description-haeader {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0;
}
.description-article-first {
    font-family: "PT Sans" sans-serif;
    font-size: 13px;
    line-height: 24px;
    width: 519px;
    margin: 0;
    margin-top: 38px;
}
.description-article-second {
    font-family: "PT Sans" sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    margin-top: 36px;
}
.delivery-list {
    list-style-image: url('../img/list-style.png');
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    margin-top: 21px;
    padding-left: 34px;
}
.delivery-list-item {
    padding-left: 11px;
    padding-top: 20px;
}
.delivery-list-item-first {
    padding-left: 11px;
}
.left-side-description-button {
    color: white;
    background-color: #EE3643;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 36px;
    width: 220px;
    height: 38px;
    margin-bottom: 86px;
}
.left-side-description-button-article {
    display: block;
    padding-top: 12px;
}
.right-side-description-article {
    font-family: "PT Sans" sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    margin-top: 38px;
    margin-bottom: 36px;
}
.right-side-description-button {
    color: white;
    background-color: #EE3643;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 44px;
    width: 300px;
    height: 38px;
    margin-bottom: 86px;
}
.right-side-description-button-article {
    display: block;
    padding-top: 12px;
}
/*Стилизация футера*/
.footer-logo {
    width: 220px;
    height: 68px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
    margin-right: 173px
}
.footer-logo-text {
    margin-top: 20px;
    margin-left: 41px;
    margin-right: 41px;
}
.footer-bot-navigation {
    padding: 0;
    margin: 0;
    display: flex;
    width: 547px;
    justify-content: space-between;
    margin-top: 42px;
}
.footer-middle-adress {
    width: 322px;
    height: 40px;
    margin-right: 91px;
    margin-top: 45px;
}
.footer-middle-navigation {
    padding: 0;
    display: flex;
    width: 527px;
    justify-content: space-between;
    margin-top: 45px;
}
.footer-bot,
.footer-middle {
    color: #f1f5f7;
    background-color: #32425c;
    font-size: 18px;
    text-align: left;
    line-height: 24px;
}
.footer-bottom-text {
    width: 228px;
    height: 33px;
    margin-right: 161px;
    margin-top: 39px;
}
.footer-bottom-social {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 119px;
    margin-top: 35px;
}
.bg-icon {
    width: 42px;
    height: 42px;
    background: #212a3a;
    border-radius: 50%;
}
.vkontakte {
    margin: 13px 8px 14px 8px;
}
.facebook {
    margin: 10px 15px 10px 15px;
}
.instagram {
    margin: 10px 11px 11px 10px;
}
.footer-bottom-feedback {
    margin-top: 40px;
    margin-bottom: 35px;
    margin-right: 53px;
}
.footer-bottom-developer {
    margin-top: 40px;
    margin-bottom: 35px;
}
.footer-bot a:hover,
.footer-middle a:hover,
.footer-bottom p a:hover {
    text-decoration: underline;
}
.footer-bot a:focus {
    color: rgba(241, 245, 247, 0.5);
}
.footer-middle a:focus {
    color:rgba(255, 209, 128, 0.5);
}
.footer-bottom p a:focus {
    color: #ee3643;
}
.footer-bot li,
.footer-middle li {
    list-style: none;
}
.footer-middle a {
    color: #ffd180;
}
.footer-bottom-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.footer-bottom-container p {
    padding-top: 37px;
    margin: 0;
}
.footer-bottom {
    color: white;
    background-color: #293449;
    font-size: 16px;
    text-align: left;
    line-height: 18px;
}
.footer-bottom li {
    list-style: none;
}
.footer-bottom a {
    color: #ffd180;
}

/*Стилизация каталога*/


/*Стилизация */
.block1 a {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    color: black;
    text-transform: uppercase;
}
.block1 li {
    list-style: none;
    margin-top: 23px;
}
.icon-home {
    margin-right: 15px;
}
.icon-right-small {
    margin-top: 23px;
    margin-right: 16px;
    margin-left: 16px;
}
/*Стилизация заголовка каталога*/
.catalog-title {
    height: 89px;
    color: #32425c;
    background-color: #f2f6f8;
    text-transform: uppercase;
    margin-top: 25px;
}
.catalog-title h2 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 32px;
    margin-left: 30px;
    font-weight: normal;
}
.catalog-left-coolumn {
    width: 220px;
    margin-right: 20px;
}
.catalog-right-column {
    width: 700px;
    margin-left: 20px;
    margin-top: 20px;
}

/*Стилизация фильтра товаров*/
.price {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: black;
    background-color: #f7f3ec;
    border: none;
}
.filter {
    width: 220px;
}
.filter-title {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: black;
    font-weight: normal;
    background-color: #f7f3ec;
    height: 24px;
    margin-top: 20px;
    padding-top: 14px;
    padding-left: 18px;
    text-transform: uppercase;
}
.filter-developer {
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    border: none;
    border-top: #f7f3ec;
}
.filter-developer ul {
    list-style: none;
}
.filter-developer legend {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
}
.filter-power {
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    border: none;
}
.filter-power ul {
    list-style: none;
}
.filter-power legend {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
}
.filter button {
    width: 140px;
    height: 38px;
    background-color: white;
    border: 1px solid #e5e5e5;
}

/*Стилизация сортировки товара*/
.popular-catalog-item-catalog-page {
    width: 220px;
    display: inline-block;
    position: relative;
    margin-right: 13px;
    margin-top: 20px;
    border: solid 1px #eaeaea;
}
.popular-catalog-item-last-of-list {
    width: 220px;
    display: inline-block;
    position: relative;
    margin-right: 0px;
    margin-top: 20px;
    border: solid 1px #eaeaea;
}
.popular-catalog-item-catalog-page .flag {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -1px;
    right: -1px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
.popular-catalog-item .flag-new {
    background: url("..img/new-flag.png") no-repeat 0 0;
}
.popular-catalog-title {
    font-family: PTSans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.popular-catalog-item-catalog-page .popular-catalog-old-price {
    font-family: PTSans, sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: #a9a9a9;
    text-decoration: line-through;
}
.hidden-price {
    visibility: hidden;
}
.popular-catalog-item-catalog-page .popular-catalog-new-price {
    font-family: PTSans, sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: white;
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    background: #ee3643;
    border-radius: 3px;
}
.popular-catalog-item-catalog-page .popular-catalog-new-price:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 20px solid white;
    border-left-color: #ee3643;
}
.popular-catalog-item .flag {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -1px;
    right: -1px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
.popular-catalog-item .flag-new {
    background: url("..img/new-flag.png") no-repeat 0 0;
}

.popular-catalog-item-last-of-list .popular-catalog-old-price {
    font-family: PTSans, sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: #a9a9a9;
    text-decoration: line-through;
}
.hidden-price {
    visibility: hidden;
}
.popular-catalog-item-last-of-list .popular-catalog-new-price {
    font-family: PTSans, sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: white;
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    background: #ee3643;
    border-radius: 3px;
}
.popular-catalog-item-last-of-list .popular-catalog-new-price:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 20px solid white;
    border-left-color: #ee3643;
  }
.catalog-sort {
    background-color: #f7f3ec;
    display: flex;
    height: 38px;
}
.catalog-sort-header {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: black;
    font-weight: normal;
    margin-top: 14px;
    margin-left: 19px;
    text-transform: uppercase;
}
.catalog-sort a {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}
.sort-on-price {
    display: flex;
    width: 58px;
    color: red;
    margin-left: 139px;
    text-transform: uppercase;
    margin-top: 14px;
}
.sort-on-type {
    display: flex;
    width: 53px;
    color:rgba(0, 0, 0, 0.3);
    margin-left: 71px;
    text-transform: uppercase;
    margin-top: 14px;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
   
}
.sort-on-func {
    display: flex;
    width: 113px;
    color:rgba(0, 0, 0, 0.3);
    margin-left: 65px;
    text-transform: uppercase;
    margin-top: 14px;
    text-decoration: none;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}
.sort-up {
    margin-top: 14px;
    margin-left: 46px;
}
.sort-down {
    margin-top: 14px;
    margin-left: 21px;
}
/*Стилизация каталога товаров*/
.catalog-items-catalog {
    margin-left: 20px;
}
.catalog-items-catalog h4 {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: black;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0;
}
.catalog-items-catalog ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 700px;
    flex-wrap: wrap;
}
.popular-catalog-items-catalog {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 318px;
    border: solid 1px #eaeaea;
    background-color: white;
    margin-top: 20px;
}
.not-first-items-catalog {
    margin-left: 17px;
}
.catalog-button {
    display: none;
}
.popular-tiems-old-price {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-decoration: line-through;
    padding-left: 78px;
    padding-top: 18px;
    margin: 0;
}
.popular-items-price {
    color: white;
    width: 141px;
    height: 38px;
    background: url('../img/item-button.svg') no-repeat 0 0;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    margin: 0;
    padding: 8px 42px 14px 38px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: -3px;
}

.buy-button {
    width: 135px;
    height: 38px;
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}
.buy-button:hover {
    background-color: #5fbb2d;
}
.buy-button:focus{
    background-color: #518534;
}
.cart-button {
    width: 135px;
    height: 38px;
    border: solid 3px #63a63e;
    background-color: white;
    color: #32425c;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}
.cart-button:hover {
    border: solid 3px #32425c;
}
.cart-button:focus {
    color: rgba(50, 66, 92, 0.3);
    opacity: 0.3;
    border: solid 3px #32425c;
}
.popular-product {
    margin-top: 53px;
    background-color: #f9f5f0;
}
.popular-product h2 {
    font-size: 30px;
    line-height: 1;
    color: #32425c;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 33px;
    margin-left: 30px;
}
.popular-product a {
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-weight: normal;
    background-color: #ee3643;
    text-transform: uppercase;
}
.popular-product-button {
    width: 253px;
    height: 38px;
    background-color: #ee3643;
    margin-top: 25px
}
.popular-product-item {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
}
.popular-developer-button {
    width: 253px;
    height: 38px;
    background-color: #ee3643;
    margin-top: 25px;
    margin-left: 269px;
}   
.popular-developer-item {
    font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  margin-left: 70px;
  margin-top: 13px;
}
.developers {
    margin-top: 20px;
}
.developer-list {
    margin-top: 20px;
}
.developer-list-items {
    width: 220px;
    height: 145px;
    border: 1px solid #eaeaea;
}
.developers ul {
    list-style: none;
}
.bosch-logo {
    padding-left: 47px;
    padding-top: 53px;
}
.makita-logo {
    padding-left: 48px;
    padding-top: 50px;
}
.dewalt-logo {
    padding-left: 37px;
    padding-top: 48px;
}
.interskol-logo {
    padding-left: 9px;
    padding-top: 21px;
}
.hitachi-logo {
    padding-left: 28px;
    padding-top: 58px;
}
.lg-logo {
    padding-left: 48px;    
    padding-top: 35px;
}
.aeg-logo {
    padding-left: 35px;
    padding-top: 23px;
}
.metabo-logo {
    padding-left: 10px;
    padding-top: 34px;
}
.developer-list li:nth-child(5) {
    margin-top: 20px;
}
.developer-list li:nth-child(6) {
    margin-top: 20px;
}
.developer-list li:nth-child(7) {
    margin-top: 20px;
}
.developer-list li:nth-child(8) {
    margin-top: 20px;
}
.slider-bot {
    background-color: #f4f7f9;
    margin-top: 85px;
}
.slider-header {
    display: flex;
    flex-direction: column;
}
.slider-bot-header {
    font-size: 30px;
    line-height: 30px;
    color: black;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 68px;
    margin: 0;
}

.slider-bot-header-article {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
    font-weight: normal;
    margin: 0;
    margin-top: 38px;
}
.slider-bot-button ul {
    list-style: none;
}
.slider-bot-list {
    margin: 0;
    padding: 0;
}
.slider-bot-button {
    margin-top: 74px;
}
.slider-bot-button button {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    background-color: #32425c;
    color: white;
    width: 240px;
    height: 61px;
    text-align: left;
}
.slider-bot-button button:hover {
    background-color: white;
    color: #32425c;
}
.slider-bot-slides {
    display: flex;

}
.slide-bot-description {
    margin: 0;
    padding: 0;
    padding-left: 80px;
    padding-top: 76px;
}
.slider-bot-slides h3 {
    font-size: 36px;
    line-height: 36px;
    color:#32425c;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.slider-bot-slides p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
    font-weight: normal;
    width: 275px;
    margin-top: 34px;
}
.slide-bot-image {
    margin-top: 97px;
    margin-left: -121px;
}
.pages {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    font-weight: normal;
}
.pages-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 52px;
}
.page-1 {
    background-color: #ee3643;
    color: white;
    width: 38px;
    height: 38px;
    border-radius: 5%;
}
.page-1 a {
    margin-left: 16px;
    margin-top: 11px;
    display: block;
}
.page-2 {
    width: 38px;
    height: 38px;
    border: solid 1px #e5e5e5;
    border-radius: 5%;
    background-color: white;
}
.page-2 a {
    color: black;
    margin-left: 16px;
    margin-top: 11px;
    display: block;
}
.page-3 {
    width: 38px;
    height: 38px;
    border: solid 1px #e5e5e5;
    background-color: white;
    border-radius: 5%;
}
.page-3 a {
    color: black;
    margin-left: 16px;
    margin-top: 11px;
    display: block;
}
.next-page {
    width: 140px;
    height: 38px;
    border: solid 1px #e5e5e5;
    background-color: white;
    border-radius: 5%;
}
.next-page a {
    color: black;
    text-transform: uppercase;
    margin-left: 32px;
    margin-top: 11px;
    display: block;
}
.page-1,
.page-2,
.page-3 {
    margin-right: 20px;
}
.pop-up {
    display: none;
}
/*Стилизация информационного блока*/
.about-product {
    margin-top: 61px;
    background-color: #f4f7f9;
    height: 261px;
}
.about-product h2 {
    font-size: 30px;
    font-weight:normal;
    line-height: 30px;
    color: black;
    text-align: inherit;
    text-transform: uppercase;
    margin-top: 67px;
}
.about-product p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
    font-weight: normal;
}


