body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", sans-serif;
    font-weight: normal;
    background-color: white;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: white;
}

body h1 {
    display: none;
}

/* Стилизация верхней части хедера */
.header-top {
    background-color: #293449;
    color: white;
    height: 42px;
}

.header-top,
.search {
    background-color: #293449;
    color: white;
    font-size: 17px;
    line-height: 18px;
    text-align: left;
    
}
.search-form {
    display: flex;
    width: 270px;
}
.icon-search {
    padding-top: 12px;
    padding-left: 17px;
    padding-right: 15px;
}
.search-field {
    display: flex;
    border: none;
    height: 42px;
    padding: 0;
}
.search {
    border: none;
    height: 42px;
    width: 240px;
}
.bookmark {
    display: flex;
    padding-top: 12px;
    padding-left: 17px;
    padding-right: 46px;
}
.bookmark-quantity {
    padding-left: 13px;
}
.cart {
    display: flex;
    padding-top: 12px;
    padding-right: 29px;

}
.cart-quantity {
    padding-left: 17px;
}
.container {
    display: flex;
    margin: 0 auto;
    width: 940px;
    padding: 0;
}
.container1 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 940px;
    padding: 0;
    flex-wrap: wrap;
}
.header-logo {
    width: 220px;
    height: 42px;
    background-color: #EE3643;
    box-shadow:  0px 5px 0 0 rgba(170, 50, 46, 1);
}
.logo-header {
    padding-top: 12px;
    margin-left: 55px;
}
.header-logo:hover {
    background-color: #ca2c37;
}
.header-logo:focus {
    background-color: #ba2732;
}
.header-order-button {
    width: 150px;
    height: 42px;
    background-color: #63a63e;
    color: white;
}
.order {
    padding-top: 12px;
    padding-left: 20px;
}
.header-order-button p {
    margin-left: 22px;
}
.header-order-button:hover {
    background-color: #5fbb2d;
}
.header-order-button:focus {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}
.search:focus {
    background-color: white;
    color: black;
    font-size: 17px;
    line-height: 18px;
    text-align: left;
}
/* Стилизация средней части хедера*/

.header-middle {
    background-color: #f4f7f9;
}
.header-middle a{
    color: black;
    font-size: 21px;
    line-height: 21px;
}
.header-middle a:hover {
    color: #EE3643;
}
.header-middle a:focus {
    color:rgba(0, 0, 0, 0.3);
}
.header-description {
    color: #EE3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    text-align: left;
    padding-left: 53px;
    padding-top: 49px;
    padding-bottom: 44px;
    padding-right: 71px;
    margin: 0;
}
.description {
    margin: 0;
}
.header-phone {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 270px;
}
.header-phone-number {
    color: #EE3643;
    font-size: 21px;
    line-height: 21px;
    text-align: left;
    display: flex;
    border: 3px solid white;
    height: 39px;
    margin-top: 46px;
}
.phone-icon {
    padding: 13px 40px 13px 15px;
}
.phone-number {
    margin: 0;
    padding-top: 13px;
}
.header-adress {
    color: #32425c;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.login-button {

}
/*Стилизация навигационного меню*/
.header-nav {
    list-style: none;
    background-color: #32425c;
    font-size: 17px;
    line-height: 17px;
    text-align: left;
    display: flex;
    margin: 0 auto;
    width: 940px;
    justify-content: space-between;
    padding: 0;
}
.header-nav a {
    color: white;
}
.header-nav a:hover {
    background-color: #293449;
}
.header-nav a:focus {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}
/*Стилизация блоков и слайдера*/
.main-blocks {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
    width: 940px;
}
.main-blocks-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.material {
    background-color: #ffbf47;
    color: white;
}
.material h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.material a {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1)
}
.instrument {
    background-color: #3bbce3;
    color: white;
}
.instrument h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.instrument a {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1)
}
.technic {
    background-color: #dc91d8;
    color: white;
}
.technic h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.technic a {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1)
}
.sale {
    background-color: #8ed78f;
    color: white;
}
.sale h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.sale a {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1)
}
.delivery{
    background-color: #ffc047;
    color: white;
}
.delivery h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.delivery a {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1)
}


/*Стилизация блока описания компании*/
.main-description {
    color: black;
    text-align: left;
}
.main-description h2 {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
}
.main-description p {
    font-family: "PT Sans" sans-serif;
    font-size: 13px;
    line-height: 24px;
}
.main-description li {
    font-size: 18px;
    line-height: 20px;
}
.main-button {
    color: white;
    background-color: #EE3643;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
}

/*Стилизация футера*/
.footer-logo {
    width: 220px;
    height: 68px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}
.footer-logo img {
    padding-top: 20px;
    margin-left: 44px;
}
.footer-bot-container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}
.footer-bot-navigation {
    display: flex;
    padding: 0;
    width: 80%;
    justify-content: space-around;
}
.footer-middle-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.footer-bot,
.footer-middle {
    color: #f1f5f7;
    background-color: #32425c;
    font-size: 18px;
    text-align: left;
    line-height: 24px;
}
.footer-bot a:hover,
.footer-middle a:hover,
.footer-bottom p a:hover {
    text-decoration: underline;
}
.footer-bot a:focus {
    color: rgba(241, 245, 247, 0.5);
}
.footer-middle a:focus {
    color:rgba(255, 209, 128, 0.5);
}
.footer-bottom p a:focus {
    color: #ee3643;
}
.footer-bot li,
.footer-middle li {
    list-style: none;
}
.footer-middle a {
    color: #ffd180;
}
.footer-bottom-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.footer-bottom-container p {
    padding-top: 37px;
    margin: 0;
}
.footer-bottom {
    color: white;
    background-color: #293449;
    font-size: 16px;
    text-align: left;
    line-height: 18px;
}
.footer-bottom li {
    list-style: none;
}
.footer-bottom a {
    color: #ffd180;
}
/*Стилизация каталога*/
/*Стилизация верхней части хедера*/
.header-cart-button {
    background-color: #EE3643;
}
.login-user {
    font-size: 21px;
    line-height: 21px;
    color: black;
    text-align: left;
}
.login-order,
.login-cabinet {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-align: left;
    text-decoration: underline;
}
.login-cabinet:hover,
.login-order:hover {
    color: #ee3643;
}
.login-user:focus {
    color: rgba(0, 0, 0, 0.3);
}
.login-order:focus,
.login-cabinet:focus {
    color: rgba(50, 66, 92, 0.3);
}

/*Стилизация */
.block1 a {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    color: black;
}
.block1 li {
    list-style: none;
}

/*Стилизация заголовка каталога*/
.catalog-title {
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    background-color: #f2f6f8;
    text-transform: uppercase;
    font-weight: normal;
}

/*Стилизация фильтра товаров*/
.price {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: black;
    background-color: #f7f3ec;

}
.filter-title {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: black;
    font-weight: normal;
    background-color: #f7f3ec;
}
.filter-developer {
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}
.filter-developer ul {
    list-style: none;
}
.filter-developer legend {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
}
.filter-power {
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}
.filter-power ul {
    list-style: none;
}
.filter-power legend {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
}
.filter button {
    width: 140px;
    height: 38px;
    background-color: white;
    border: 1px solid #e5e5e5;
}

/*Стилизация сортировки товара*/
.catalog-sort {
    background-color: #f7f3ec;
}
.catalog-sort h3 {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: black;
    font-weight: normal;
}
.catalog-sort ul {
    list-style: none;
}
.catalog-sort a {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}
.sort-on-price {
    color: red;
}
.sort-on-type,
.sort-on-func,
.sort-down {
    color:rgba(0, 0, 0, 0.3);
}
.pop-up {
    display: none;
}
/*Стилизация каталога товаров*/
.catalog-items h4 {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: black;
    text-align: center;
}
.catalog-items ul {
    list-style: none;
}
.catalog-items p {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
}
.catalog-items p:first-of-type {
    color: #999999;
    text-decoration: line-through;
}
.catalog-items p:last-of-type {
    color: white;
    background-color: red;
}
.catalog-button {
    display: none;
}
.buy-button {
    width: 135px;
    height: 38px;
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}
.buy-button:hover {
    background-color: #5fbb2d;
}
.buy-button:focus{
    background-color: #518534;
}
.cart-button {
    width: 135px;
    height: 38px;
    border: solid 3px #63a63e;
    background-color: white;
    color: #32425c;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}
.cart-button:hover {
    border: solid 3px #32425c;
}
.cart-button:focus {
    color: rgba(50, 66, 92, 0.3);
    opacity: 0.3;
    border: solid 3px #32425c;
}
.popular-product {
    background-color: #f9f5f0;
}
.popular-product h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: normal;
    text-transform: uppercase;
}
.popular-product a {
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-weight: normal;
    background-color: #ee3643;
    text-transform: uppercase;
}
.developers ul {
    list-style: none;
}
.slider-bot-container1 {
    width: 80%;
    margin: 0 auto;
}
.slider-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.slider-bot {
    background-color: #f4f7f9;
}
.slider-bot h2 {
    font-size: 30px;
    line-height: 30px;
    color: black;
    font-weight: normal;
    text-transform: uppercase;
}
.slider-bot p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
    font-weight: normal;
}
.slider-bot-slides {

}
.slider-bot-button ul {
    list-style: none;
}
.slider-bot-button button {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    background-color: #32425c;
    color: white;
}
.slider-bot-button button:hover {
    background-color: white;
    color: #32425c;
}
.slider-bot-slides h3 {
    font-size: 36px;
    line-height: 36px;
    color:#32425c;
    font-weight: normal;
    text-transform: uppercase;
}
.slider-bot-slides p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
    font-weight: normal;
}
.pages {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    font-weight: normal;
}
.pages ul{
    list-style: none;
}
.page-1 {
    background-color: #ee3643;
    color: white;
}
.page-2,
.page-3,
.next {
    background-color: white;
    color: black;
}

/*Стилизация информационного блока*/
.about-product {
    background-color: #f4f7f9;
}
.about-product h2 {
    font-size: 30px;
    font-weight:normal;
    line-height: 30px;
    color: black;
    text-transform: uppercase;
}
.about-product p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
    font-weight: normal;
}


